{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_quizgame/index_page

    Starting point for an awesome template.
    This is how much I hate moodle_template

}}

<div ng-app="tforms">
  <div ng-controller="FormPackageController as fpc">

    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>{{packagecfg}}</legend>

    <h3>{{selectcfg}}</h3>

    <!-- Select Basic -->
    <div class="form-group">
      <label for="selectbasic">{{config}}</label>
      <div class="col-md-2">
        <select id="selectbasic" name="selectbasic" class="form-control" ng-model="cfgid" required>
          {{#configids}}
          <option value="{{id}}">Name: {{name}} Time: {{time}}</option>
          {{/configids}}
        </select>
      </div>
    </div>

    <h3>{{selectquestions}}</h3>

    <!-- Select Multiple -->
    <div class="form-group">
      <label for="selectmultiple">{{questions}}</label>
      <div class="col-md-2">
        <select id="selectmultiple" name="selectmultiple"
                class="form-control" multiple="multiple"
                ng-model="qids" style="width:600px; overflow-x:auto; overflow-y:auto;"
                required>
        {{#questions}}
        <option value="{{id}}">ID #{{id}}, Texto: {{questiontext}}</option>
        {{/questions}}
        </select>
      </div>
    </div>

    <h3>{{savepackage}}</h3>

    <div class="form-group">
      <label for="button1id">{{options}}</label>
      <div class="col-md-8">
         <div id="messages" class="alert alert-success" data-ng-show="messages.response" data-ng-bind="messages.response"></div>
      </div>
      <div class="col-md-8">
        <button id="button1id" name="button1id" ng-click="fpc.send(cfgid, qids)" class="btn btn-success">Ok</button>
        <a ng-href="{{wwwroot}}views/teacher.php?id={{quizgame}}" class="btn btn-info">Go Back to Teacher's Page</a>
      </div>
    </div>

    </fieldset>
    </form>

  </div>
</div>
